@model Webapp.Models.Sensors.SensorDeleteViewModel

@{
    ViewData["Title"] = "Удалить датчик";
}

<div>
    <h4>Удалить датчик</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Metadata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Metadata)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatatypeScheme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatatypeScheme)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationProtocolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommunicationProtocolName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Port)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="SensorId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |

        <a asp-action="Index">Вернуться к списку датчиков</a>
    </form>
</div>
