@model Webapp.Models.Tests.TestCreateViewModel

@{
    ViewData["Title"] = "ИЗМЕРЕНИЕ";
}

<div>
    <h4>ИЗМЕРЕНИЕ</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Metadata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Metadata)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartedTime)
        </dd>

        <dt class="col-sm-2">
            ИЗМЕРЕНИЕ
        </dt>
        <dd class="col-sm-10">
            <p id="timer"></p>
            <script>
                var seconds = @Model.DurationSeconds;
                var interval = setInterval(function () {
                    seconds--;
                    document.getElementById("timer").innerHTML = seconds + " с";

                    if (seconds < 0) {
                        clearInterval(interval);
                        document.getElementById("timer").innerHTML = "ЗАВЕРШЕНО";
                    }
                }, 1000);
            </script>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExperimentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperimentName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExperimentSensorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperimentSensorName)
        </dd>
    </dl>
</div>

<div>

</div>
